<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz5dGyWXo23AyNlJCzUYGid6aD7YeOgSY</string>
	<key>GCM_SENDER_ID</key>
	<string>297352060294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onDemandGrocery</string>
	<key>PROJECT_ID</key>
	<string>grofast-ondemandgroceryapp</string>
	<key>STORAGE_BUCKET</key>
	<string>grofast-ondemandgroceryapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297352060294:ios:b42320670402c4d487a007</string>
</dict>
</plist>